src/components/*.vue
src/components/sqlDesigner/*.vue
src/components/schedular/*.vue
src/components/authorization/*.vue
src/components/datasources/*.vue
src/components/environment/*.vue
src/components/jobManagement/*.vue
src/components/userprovisioning/*.vue
src/components/processWorkflow/*.vue
src/components/workflow/*.vue
src/components/sqlDesigner/grid/*.vue
src/components/jobManagement/grid/*.vue
src/components/schedular/grid/*.vue
src/views/dataTable/*.vue
src/views/*.vue